@font-face {
    font-family: Inter;
    src: url(../font/Inter-Regular.ttf);
}

@font-face {
    font-family: Interl;
    src: url(../font/Inter-ExtraLight.ttf);
}

@font-face {
    font-family: Interm;
    src: url(../font/Inter-Medium.ttf);
}

@font-face {
    font-family: Gelasio;
    src: url(../font/Gelasio-Regular.ttf);
}

@font-face {
    font-family: MV;
    src: url(../font/MV\ DawlatulIslam\ Rasmy.ttf);
}

